
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image:url(./Assets/bretatgne-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgb(125, 196, 255);
}

#welcome {
    background-color: rgba(5, 48, 97, 0.938);
    color: whitesmoke;
}

#welcome h1 {
    font-family: 'Indie Flower', cursive;
}

div h1, div h2 {
    font-family: 'Indie Flower', cursive;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 48, 97);
}

.btn:hover {
    color: rgb(149, 162, 175);
    background-color: whitesmoke;
}

.cardProducts {
    background-color: rgba(5, 48, 97, 0.938);
}

figcaption {
    color: rgb(255, 255, 255);
}

#contactText {
    background-color:lightgrey;
}

form {
    background-color:lightgrey;
}

footer {
    background-color: rgb(125, 196, 255);
}