
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image:url(./Assets/bretatgne-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(125, 197, 255, 0.801);
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 48, 97);
}

.btn:hover {
    color: rgb(149, 162, 175);
    background-color: whitesmoke;
}

form {
    background-color:lightgrey;
}

footer {
    background-color: rgba(125, 197, 255, 0.801);
}